version: 3.9
services:
  mongo:
    image: mongo:7
    container_name: meetx-mongo
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1
    container_name: meetx-mongo-express
    restart: unless-stopped
    profiles:
      - tools
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo

volumes:
  mongo_data:
